section#hero {
    position: relative;
    width: 100%;
    height: 60rem;
    
    & .hero-container {
        opacity: 0;
        animation: fadeIn 3s ease-in both;
        
        background: url(../assets/images/hero-background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        height: 100%;
        max-width: 95rem;

        
        


        margin-inline: auto;

        &>img {
            width: 100%;
            height: 948px;
        }


        & header {
            opacity: 0;
            animation: fadeIn 2s 200ms ease-in both;
            width: 100%;

            & nav {
                padding-inline: 10rem;
                padding-top: 3rem;
                width: 100%;
                max-width: 90rem;
                background-color: transparent;

                display: flex;
                justify-content: space-between;


                position: absolute;
                top: 0;
            }

        }


        .title {
            opacity: 0;
            animation: fadeIn 2s 1.5s ease-in both;
            width: 100%;
            padding-top: 17rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & h1 {
                max-width: 41rem;
                font: var(--title-lg);
                color: var(--text-title);
                text-align: center;
            }

            & p {
                max-width: 35rem;
                font: var(--body-lg);
                color: var(--text-body);
                text-align: center;
                opacity: 0;
                animation: fadeIn 2s 2s ease-in both;
            }
        }




    }

    

    & .texto {


        .texto-container{

            &>h2{
                & span{
                    opacity: 50%;
        color: #E2E7E9;
                }
            }
        }

        &:hover{
            & span:nth-child(1){
                animation: appear 200ms both;
            }

            & span:nth-child(2){
                animation: appear 200ms 500ms both;
            }

            
            & span:nth-child(3){
                animation: appear 200ms 1s both;
            }




            & .str-1{
                animation: strong 200ms both
            }

            & .str-2{
                animation: strong 200ms 500ms both
            }

            & .str-3{
                animation: strong 200ms 1s both
            }



            .img-2{
                animation: icone 200ms 200ms forwards;
               transition: transform .5s ease;
            
                &:hover{
                    transform: rotate(10deg)
                    scale(1.2);
                }

            }

            .img-1{
                animation: icone 200ms 700ms both;
                transition: transform .5s ease;
            
                &:hover{
                    transform: rotate(10deg)
                    scale(1.2);
                }


            }

            .img-3{
                animation: icone 200ms 1.2s both;
                transition: transform .5s ease;
            
                &:hover{
                    transform: rotate(10deg)
                    scale(1.2);
                }


            }


        }


        position: relative;

        width: 100%;
        height: 25rem;

        margin-top: 6rem;
        padding-inline: 7.5rem;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-content: center;

        
        align-items: center;

        & .texto-container{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;
            
            box-sizing: content-box;
            &>h2 {
                
                
                width: 70rem;
                text-align: center;
                font: var(--subtitle);

                

               





            }
            
            & img {
                position: absolute;
                width: 7rem;
                height: 7rem;
                scale: 0;
            }

            & img:nth-child(1){
                left: 1.5rem;
                bottom: -6rem;
                width: 6rem;
                height: 6rem;
            }

            & img:nth-child(2){
                left: 43%;
                top: -8rem;
            }
            & img:nth-child(3){
                height: 5rem;
                width: 5rem;
                right: 0;
                bottom: -6rem;
            }
            
        }


    }

  

}


@keyframes icone{
    to{
        scale: 1;
    }
}

@keyframes girar{
    from{
        scale: 1;
        transform: rotate(0);
    }
    to{
        scale: 1.1;
        transform: rotate(10deg);
    }
}

@keyframes fadeIn 
{
 
   to{
    opacity: 1;
   }
}




@keyframes appear{
    to{
        opacity: 1;
        color: var(--text-body);
    }
   
   
}




@keyframes strong{
    to{
        color: var(--blue-light);
    }
    
  
   
}
